In [90]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('original_dataset.csv', low_memory = False, dtype = {'locality': str, 'postcode': str, 'property_subtype': str})
raw_df = df

In [91]:
def extract_address(d): 
    return re.sub("(([A-Za-z0-9àâçéèêëîïôûùüÿñæœ .-]*)(,{0,} {0,})(\d{4})([A-Za-zàâçéèêëîïôûùüÿñæœ .-]*)(,{0,} {0,})([A-Za-zàâçéèêëîïôûùüÿñæœ .-]*)|([A-Za-zàâçéèêëîïôûùüÿñæœ'\-\/ \(\)]*))", r'\2',d)
def extract_postcode(d): 
    return re.sub("(([A-Za-z0-9àâçéèêëîïôûùüÿñæœ .-]*)(,{0,} {0,})(\d{4})([A-Za-zàâçéèêëîïôûùüÿñæœ .-]*)(,{0,} {0,})([A-Za-zàâçéèêëîïôûùüÿñæœ .-]*)|([A-Za-zàâçéèêëîïôûùüÿñæœ'\-\/ \(\)]*))", r'\4',d)
def extract_locality(d): 
    return re.sub("(([A-Za-z0-9àâçéèêëîïôûùüÿñæœ .-]*)(,{0,} {0,})(\d{4})([A-Za-zàâçéèêëîïôûùüÿñæœ .-]*)(,{0,} {0,})([A-Za-zàâçéèêëîïôûùüÿñæœ .-]*)|([A-Za-zàâçéèêëîïôûùüÿñæœ'\-\/ \(\)]*))", r'\5',d)
#def extract_construction_year(d): 
    #return re.sub("((^\d{4}$)|([A-Za-zàâçéèêëîïôûùüÿñæœ'\-_\/ \(\)]*))", r'\2', d)

In [92]:
df['extracted_address'] = df[~df['locality'].isnull()]['locality'].apply(extract_address)
df['extracted_postcode'] = df[~df['locality'].isnull()]['locality'].apply(extract_postcode)
df['extracted_locality'] = df[~df['locality'].isnull()]['locality'].apply(extract_locality)
#df['extracted_construction_year'] = df[~df['property_subtype'].isnull()]['property_subtype'].apply(extract_construction_year)

In [93]:
import numpy as np
df['merged_postcode'] = df['postcode'].replace(np.nan, '') + df['extracted_postcode'].replace(np.nan, '')

In [94]:
def unmerge_postcode(d): 
    return re.sub("(\d{4}){0,1}(\d{4})$", r'\2', d)

In [95]:
df['unmerged_postcode'] = df[~df['merged_postcode'].isnull()]['merged_postcode'].apply(unmerge_postcode)

In [96]:
df['construction_year']=np.where(df.property_subtype.str.match('^\d{4}$'),df['property_subtype'],np.nan)
df['construction_year']=np.where(df.property_subtype.str.match('^\d{4}$'),df['property_subtype'],np.nan)
df['property_subtype']=np.where(df.property_subtype.str.match('[A-Za-zàâçéèêëîïôûùüÿñæœ]*'),df['property_subtype'].str.upper(),np.nan)

In [97]:
#df['property_subtype'].unique()
regex = '^\d{4}$'
#df[df.property_subtype.str.match(regex, na=False)]
df[~df.property_subtype.str.match(regex, na=False)]['property_subtype'].unique()

array(['MIXED_USE_BUILDING', 'VILLA', 'APARTMENT_BLOCK', 'HOUSE',
       'EXCEPTIONAL_PROPERTY', 'MANSION', 'TOWN_HOUSE', 'COUNTRY_COTTAGE',
       'MANOR_HOUSE', 'OTHER_PROPERTY', 'FARMHOUSE', 'CASTLE',
       'APARTMENT', 'BUNGALOW', 'CHALET', 'PENTHOUSE', 'SERVICE_FLAT',
       'LOFT', 'DUPLEX', 'FLAT_STUDIO', 'GROUND_FLOOR', 'TRIPLEX', 'KOT',
       'FLAT', 'BUSINESS', 'INVESTMENT PROPERTY', 'NEWBUILD PROJECT',
       'HISTORISCHE PAND', 'ÉTABLISSEMENT HISTORIQUE',
       'INVESTERING / WOON- EN WERKRUIMTE',
       'INVESTMENT / RESIDENTIAL INVESTMENT', 'HISTORIC ESTATE', 'HUIS',
       'HOTEL', 'LANDHUIS', 'DETACHED HOUSE', 'VRIJSTAANDE WONING',
       'FINCA', 'ANDER(E)', 'MAISON', 'MAISON DÉTACHÉE', 'AUTRE',
       'INVESTISSEMENT', 'OTHER', 'SPECIAL PROPERTY', '133,000 SQFT', '4',
       'LOFT / ATTIC', 'WOHNUNG', '3', '76,000 SQFT', 'DUPLEX APARTMENT',
       '5', '1', 'APPARTEMENT', 'IMMEUBLE SPÉCIAL', 'LOFT / DACHGESCHOSS',
       'APPARTAMENTO', 'GROUND FLOOR APARTMENT', '2', 'MAISONETTE',
       'TRIPLEXWOHNUNG', 'ALTBAUWOHNUNG', 'APARTAMENTO', '6', 'SONSTIGE',
       '16', '25,700.4 SQFT', 'GEWERBE', 'LOFT / MANSARDE',
       'MAISONETTE / DUPLEX', 'DAKWONING', 'ETAGENWOHNUNG', 'DÚPLEX',
       'ERDGESCHOSS', 'LOFT / ÁTICO', '9,364.6 SQFT', 'ATTICO',
       'APPARTAMENTO DUPLEX', 'LOFT / ZOLDER', '7,409.88 SQFT',
       'EXCEPTIONAL-PROPERTY', 'APARTMENT-BLOCK', 'TOWN-HOUSE',
       'GROUND-FLOOR', 'FLAT-STUDIO', 'MIXED-USE-BUILDING',
       'SERVICE-FLAT', 'COUNTRY-COTTAGE', 'OTHER-PROPERTY', 'MANOR-HOUSE',
       'HOUSE_GROUP', 'APARTMENT_GROUP', nan], dtype=object)

In [100]:
#CONTROLS
#--------
#Postcode
#df[df['merged_postcode'].astype(str).map(len) == 4]
#issue when one of both values is empty
#Construction year
#regex = '^\d{4}$'
#df[df.extracted_construction_year.str.match(regex, na=False)]
#df[~df.extracted_construction_year.str.match(regex, na=False)]

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,land_plot_surface,facades_number,swimming_pool_has,building_state,extracted_address,extracted_postcode,extracted_locality,merged_postcode,unmerged_postcode,construction_year
0,6,8901695,4180,4180,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,1403,0,False,GOOD,,4180,,41804180,4180,NaN
1,6,8747010,8730,8730,True,VILLA,675000,NaN,4,349,...,1526,0,False,AS_NEW,,8730,,87308730,8730,NaN
2,6,8775843,4020,4020,True,APARTMENT_BLOCK,250000,NaN,5,303,...,760,0,False,TO_RENOVATE,,4020,,40204020,4020,NaN
3,6,8910441,1200,1200,True,HOUSE,545000,NaN,4,235,...,63,0,False,JUST_RENOVATED,,1200,,12001200,1200,NaN
4,6,8758672,1190,1190,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,193,0,False,AS_NEW,,1190,,11901190,1190,NaN

In [22]:
#Garbage data to check out later
trash_value = "Zéér RUIME Bel-etage woning met ATELIER"
trash_value_bis = "Est" 
df[df['locality'] == trash_value]
df[df['extracted_postcode'] == trash_value_bis]

Empty DataFrame
Columns: [source, hyperlink, locality, postcode, house_is, property_subtype, price, sale, rooms_number, area, kitchen_has, furnished, open_fire, terrace, terrace_area, garden, garden_area, land_surface, land_plot_surface, facades_number, swimming_pool_has, building_state, extracted_address, extracted_postcode, extracted_locality, merged_postcode, unmerged_postcode]
Index: []

[0 rows x 27 columns]